.dado-perfil{
    color: white;
    font-weight: normal;
}

#img{
    margin-left: 1.3rem; 
    margin-bottom: .5rem; 
    border-radius: 50%;
}

#nome{
    margin-left: .4rem;
}

#email{
    margin-left: .95rem;
}

#idade{
    margin-left: 1.25rem;
} 

#cpf{
    margin-left: 2.05rem;
}

#pais{
    margin-left: 1.95rem;
} 

#estado, #states{
    margin-left: .8rem;
} 

#cidade, #city{
    margin-left: .7rem;
}

.tags{
    padding: .1rem;
    margin-bottom: .2rem;
    background-color: rgba(0, 0, 0, 0.562); 
    margin-left: 1rem; 
    border-radius: 8px;
    font-size: .9rem;
}

.inputs{
    text-align: start; 
    background-color: rgba(0, 0, 0, 0.377); 
    color: yellow; 
    font-weight: bold;
}

#info1{
    margin-left: .8rem;
}

#age{
    margin-left: 1.2rem;
}